*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EBD3F8;
}

.card{
  height: 50%;
  width: 370px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #AD49E1;
  color: #5c1a80;
}

h1{
  font-size: 3em;
}

.buttons{
  display: flex;
  gap: 20px;
}

button{
  height: 60px;
  width: 60px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  border-radius: 50%;
  transition: 0.3s;
  background-color: white;
}

button:hover{
  background-color: #2E073F;
  color: white;

}


.input{
  width: 500px;
  margin: 20px;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}
.btn{
  width: 150px;
  height: 50px;
  border: 1px solid;
  border-radius: 10px;
  font-size: 1.2rem;
}